[submodule "open-simplex-noise-in-c"]
	path = open-simplex-noise-in-c
	url = https://github.com/smcameron/open-simplex-noise-in-c.git
[submodule "glla"]
	path = glla
	url = https://github.com/GavinHigham/glla.git
[submodule "ceffectpp"]
	path = ceffectpp
	url = https://github.com/GavinHigham/ceffectpp.git
	branch = master
